.border-gold {
    border: 1px solid var(--primary-gold) !important;
}

.rule-card {
    transition: all 0.2s;
}

.rule-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1) !important;
    border-color: var(--primary-gold) !important;
}

:host ::ng-deep .p-dialog-footer button {
    margin: 0 0 0 .5rem;
}

.shadow-1 {
    box-shadow: 0 2px 5px rgba(0,0,0,0.05) !important;
}
