<header class="main-header">
    <div class="container header-container">
        <div class="logo">
            <a routerLink="/">
                <img src="assets/sara_logo.PNG" alt="Sara Logo" class="logo-img">
            </a>
        </div>
        <nav class="main-nav">
            <ul>
                <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Início</a>
                </li>
                <li><a routerLink="/quem-somos" routerLinkActive="active">Quem Somos</a></li>
                <li><a routerLink="/pedidos" routerLinkActive="active">Pedidos</a></li>
                <li class="dropdown" (mouseleave)="fecharDropdown()">
                    <a href="javascript:void(0)" class="dropdown-toggle"
                        (click)="toggleDropdown($event)">Administrador</a>
                    <ul class="dropdown-menu" *ngIf="dropdownAberto">
                        <li><a routerLink="/produtos" routerLinkActive="active" (click)="fecharDropdown()">Produtos</a>
                        </li>
                        <li><a routerLink="/usuarios" routerLinkActive="active" (click)="fecharDropdown()">Usuários</a>
                        </li>
                        <li><a routerLink="/frete" routerLinkActive="active" (click)="fecharDropdown()">Tabela de
                                Frete</a></li>
                        <li><a routerLink="/setores" routerLinkActive="active" (click)="fecharDropdown()">Setores</a>
                        </li>
                    </ul>
                </li>
                <li><a routerLink="/contato" routerLinkActive="active">Contato</a></li>
            </ul>
        </nav>
        <div class="api-message" *ngIf="welcomeMessage">
            {{ welcomeMessage }}
        </div>
    </div>
</header>