.white-space-nowrap {
    white-space: nowrap;
}

.text-gold {
    color: var(--primary-gold-dark);
}

:host ::ng-deep .p-datatable-gridlines .p-datatable-thead > tr > th {
    background: #fdfdfd;
    color: #495057;
    font-weight: 700;
}

:host ::ng-deep .p-tag {
    font-size: 0.75rem;
    padding: 0.25rem 0.6rem;
}
