<section class="hero-section">
    <div class="container hero-content">
        <img src="assets/sara_logo.PNG" alt="Sara Logo" class="hero-logo">
        <p class="subtitle">Arte Sacra em Resina</p>
        <p class="description">Peças produzidas com o cuidado que sua fé merece.</p>
    </div>
</section>



<section class="about-teaser">
    <div class="container">
        <h2>Quem Somos</h2>
        <p>Somos uma empresa familiar dedicada à fabricação de artigos religiosos. Cada peça é produzida com cuidado e
            respeito, garantindo alta qualidade e acabamento impecável.</p>
        <a routerLink="/quem-somos" class="btn-outline">Conheça Nossa História</a>
    </div>
</section>